
.sidebar{
    height:100%;
    z-index:10;
    overflow:scroll;
    min-height:calc(100vh - 80px);
    /* position:sticky;
    top:70px; */
}

.header{
    position:sticky;
    top:0;
    z-index:10;
}

@media(max-width:990px){
    header{
        position:relative;
        top:12px;
    }
    .sidebar{
        position:absolute;
        top:10px;
    }
}